.search {
    width: 540px;
    height: 60px;
    margin:100px auto;
    background: rgba(31, 30, 30, 0.938);
    border-radius: 3px;
    box-shadow: 0px 0px 15px 10px rgba(86, 124, 194, 0.911);
    background-color: #fff;
}

#find-section {
    display: flex;
    flex-wrap: wrap;
}

#find-section>.card {
    margin-left: 6em;
}

.search>input {
    width: 520px;
    padding: 10px 5px;
    float:left;
    color: rgb(3, 3, 3);
    border: 0;
    height: 60px;
    font-size: 1.3em;
    border-radius: 3px 0 0 3px;
}

.search>input:focus {
    outline: 0;
    height: 60px;
    background: transparent;
}

.btn-search {
    position:absolute;
    margin:auto;
    margin-left: 100px;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 60px;
    width: 150px;
    font-size: 25px;
    color: rgb(53, 49, 49);
    background: #8fa9b9;
    border-radius: 15px;
}

.btn-search:hover {
    cursor: pointer;
    color: white;
    background-color: #547aa5;
}

button:active {
    box-shadow: 0px 0px 12px 0px rgb(105, 93, 93);
    height: 60px;
}

#catalog-page {
    margin: auto;
    background-color: transparent;
    box-shadow: 0px 0px 15px 10px rgba(86, 124, 194, 0.911);
    overflow: hidden;
    border-radius: 15px;
    padding: 20px;
    height: auto;
    width: auto;
}

#catalog-page>h1 {
    color: #fff;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.allEvents {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 15px;
    overflow: hidden;
    width: 600px auto;
    min-height: 210px;
    height: auto;
}
.event-catalog {
    display:inline-block;
    box-shadow: 0px 0px 30px 0px #49535e, -14px -14px 20px #191c21;
    margin: 50px;
    margin-top: 100px;
    padding: 50px;
    background-position: right 35% bottom 45%;
    background-color: #29303c;
    box-sizing: border-box;
    border-radius: 15px;
    height: auto;
}

.event-catalog>h3 {
    font-family: "agency FB";
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.image-wrap-catalog {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-wrap-catalog>img {
    max-width: 100%;
}

.allEvents-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allEvents-info>img {
    margin-top: -10px;
    border-radius: 50%;
    height: 140px;
    position: absolute;
    top: 30px;
    right: 30px;
    float: right;
    padding: 5px;
    width: 140px;
}
#paginate{
   display: flex;
   align-items:center;
   justify-content: center;
}

#paginate>button {
    margin-left: 100px;
    margin-top: 100px;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 60px;
    width: 150px;
    font-size: 25px;
    color: rgb(53, 49, 49);
    background: #8fa9b9;
    border-radius: 15px;
}

#paginate>button:hover{
    cursor: pointer;
    color: white;
    background-color: #547aa5;
}

#paginate>button:disabled{
    cursor: pointer;
    color: white;
    background-color: #547aa5;
}

.no-data-listing {
    background-color: #547aa5;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    color:white;
    font-size: 35px;
    text-align: center;

}
