#catalog-page {
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* height: auto;
    width: auto;
    margin: auto; */
    margin-top: 150px;
}

#catalog-page>h1 {
    color: white;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.allEvents {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 15px;
    overflow: hidden;
    width: 600px auto;
    min-height: 210px;
    height: auto;

}
.event-catalog {
    box-shadow: 0px 0px 30px 0px #49535e, -14px -14px 20px #191c21;
    margin: auto;
    margin-top: 150px;
    padding: 50px;
    background-position: right 35% bottom 45%;
    background-color: #29303c;
    box-sizing: border-box;
    border-radius: 15px;
    height: auto;
}

.image-wrap-catalog {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-wrap-catalog>img {
    max-width: 100%;
}

.allEvents-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allEvents-info>img {
    margin-top: -10px;
    border-radius: 50%;
    height: 140px;
    position: absolute;
    top: 30px;
    right: 30px;
    float: right;
    padding: 5px;
    width: 140px;
}

.event-catalog>h3 {
    font-family: "agency FB";
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.details-button {
    background-color: #2A265F;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    text-align: left;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: auto;
    margin-left: 20px;
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
}
.search {
    width: 540px;
    height: 60px;
    margin:100px auto;
    background: rgba(31, 30, 30, 0.938);
    border-radius: 3px;
    box-shadow: 0px 0px 15px 10px rgba(86, 124, 194, 0.911);
    background-color: #fff;
}

#find-section {
    display: flex;
    flex-wrap: wrap;
}

#find-section>.card {
    margin-left: 6em;
}

.search>input {
    width: 340px;
    padding: 10px 5px;
    float:right;
    color: rgb(3, 3, 3);
    border: 0;
    height: 60px;
    font-size: 1.3em;
    background: transparent;
    border-radius: 3px 0 0 3px;
}

.search>input:focus {
    outline: 0;
    height: 60px;
    background: transparent;
}

button {
    position:absolute;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 60px;
    width: 120px;
    font-size: 1.2em;
    color: rgb(53, 49, 49);
    background: rgb(207, 207, 214);
    border-left: 1px solid rgb(180, 166, 166);
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #8fa9b9;
}

button:active {
    box-shadow: 0px 0px 12px 0px rgb(105, 93, 93);
    height: 60px;
}