body {
    /* background-image: url('../images/bg-fixed-3.jpg'); */
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html { 
    background: url('../../../public/images/home1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.auth {
    width: 100px;
    margin: 8em auto;
}

header{
    color:white
}

footer {
    background-color: #29303c;
    width: 100%;
    overflow: hidden;
    color: white;
}

.home {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    padding: 10px;
}

header h1 {
    display: inline-block;
    background-color: #29303c;
    color: white;
    margin-bottom: auto;
}

header nav {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    right: 0;
    bottom: 8px;

      
}

header nav>* {
    float: left;
}

footer {
    margin-top: 560px;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    display: block;
    /* position: fixed; */
}

nav a {
    margin: 0 0.5em;
    background-color: #547aa5;
    border-radius: 15px;
    padding: 10px 20px;
    outline: 1px dotted black;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

nav a:hover {
    cursor: pointer;
    color: white;
    background-color: #8fa9b9;
}

.home:hover {
    color: rgb(82, 133, 139);
}

#user,
#guest {
    margin: 0;
    padding: 0;
    
}

/* a {
    margin: 0.2em;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
} */
